@font-face {
  font-family: Roboto;
  src: url(../font/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
body {
  background-color: #f0efef;
}
a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: #282830;
  line-height: 19px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  text-decoration: none;
  gap: 10px;
}
a:hover {
  color: #008dff;
}
.continer {
  max-width: 1400px;
  margin: 0 auto;
}
.navbar {
  padding: 20px;
  border-bottom: 1px solid #dfdfdf;
}
.header {
  -webkit-box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
  box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
  background-color: #fff;

  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
span {
  width: 18px;
  height: 2px;
  border-radius: 10px;
  background-color: white;
}

.btn1 {
  width: 140px;
  height: 40px;
  background-color: #008dff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 5px;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  transition: 0.5s;
}
.btn1:hover {
  background-color: rgb(83, 71, 252);
}
.btn-menu {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  justify-content: center;
}
#search {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  z-index: 2;
  padding: 5px 10px;
  color: #008dff;
  line-height: 16px;
  border: 2px solid #008dff;
  border-radius: 10px 0px 0px 10px;
}
.header_search {
  max-width: 481px;
  height: 40px;
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
}
.search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  height: 100%;
}
.btn2 {
  position: relative;
  background-color: #008dff;
  border-color: #008dff;
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn2:hover {
  background-color: rgb(83, 71, 252);
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}
.icon:hover {
  color: #008dff;
}
.icons {
  display: flex;
  gap: 20px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: rgb(0, 0, 0);
}
.navbar2 {
  padding: 17px;
  background-color: #fff;
}
.nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.wrapper {
  width: 1fr;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 50px;
}
.hh1 {
  padding-top: 50px;
  padding-left: 50px;
}
.card {
  padding: 15px;
  background-color: #fff;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 14px;
}
.card:hover {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.hh2 {
  color: #008dff;
}
.rasm {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reyting {
  display: flex;
  gap: 5px;
}
.but {
  display: flex;
  align-items: center;
  gap: 5px;
}
.korzinka {
  border-radius: 10px;
  height: 40px;
  width: 50px;
  border: 0;
  background-color: #46e7b7;
}
.btn3 {
  width: 170px;
  border: 0;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  height: 40px;
  background-color: #008dff;
}

.load {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  display: block;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: linear-gradient(90deg, #000 50%, #0000 0) right/200% 100%;
  animation: l21 0.3s infinite linear;
}
.loader::before {
  content: "Loading...";
  color: #0000;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(90deg, #fff 50%, #000 0);
  -webkit-background-clip: text;
  background-clip: text;
}
.show {
  display: none;
}

@keyframes l21 {
  100% {
    background-position: left;
  }
}
@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/////////// Product

.pic {
  padding-top: 15px;
  color: #939393;
  font-size: 14px;
}
.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 70px;
  flex-wrap: wrap;
}
.box1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.box11 {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box2 {
  background-color: #fff;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  padding: 20px;
}
.rasmm {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rasmm img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  max-height: 250px;
  padding-top: 40px;
}
.skidka {
  border-radius: 5px;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: orange;
}
.her {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dfdfdf;
}
.rey {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
}
.heart {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}
.texts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 450px;
}
.card-boxes {
  display: flex;
  gap: 10px;
}
.mod {
  text-wrap: wrap;
}
.card-box {
  border-radius: 5px;
  width: 140px;
  height: 100px;
  border: 2px solid rgb(205, 205, 205);
  cursor: pointer;
}
.card-box:hover {
  border: 2px solid rgb(37, 37, 255);
}
.buy {
  display: flex;
  gap: 20px;
}
.btn4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 190px;
  gap: 15px;
  cursor: pointer;
  border: 0;
  background-color: #46e7b7;
  color: #fff;
  border-radius: 10px;
}
.btn5 {
  height: 50px;
  width: 190px;
  border-radius: 10px;
  border: 1.7px solid #008dff;
  cursor: pointer;
  color: #008dff;
}
.golos {
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  align-items: center;
  display: flex;
  transition: 0.5s;
}
.golos svg:hover * {
  fill: orange;
  transition: 0.09s;
  cursor: pointer;
}
.nol {
  border-radius: 6px;
  margin-left: 250px;
  width: 22px;
  height: 30px;
  background-color: #96d0ff;
  color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-menu {
  padding: 15px;
  background-color: #fff;
  width: 330px;
  border-radius: 15px;
  height: 350px;
}
.btns {
  display: flex;
  gap: 15px;
  padding-top: 10px;
}
.mes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 35px;
  cursor: pointer;
  border-radius: 6px;
  background: 0;
  border: 1px solid rgb(189, 189, 189);
}
.mes:hover {
  border: 1px solid rgb(34, 0, 255);
  color: rgb(97, 77, 221);
  background-color: rgb(237, 236, 241);
}
.uzum {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  height: 140px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.uzum:hover {
  border: 1px solid blue;
}
.nasiya {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.uzum2 {
  height: 85px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}
.uzum2:hover {
  border: 1px solid blue;
}
.rass {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  background-color: rgb(255, 115, 0);
  border: 0;
}
.lorem {
  border-radius: 15px;
  background-color: #fff;
  padding: 30px;
  margin-top: 90px;
}
@media (max-width: 1200px) {
  .wrapper {
    align-items: center;
    justify-content: center;
  }
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .icons {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #ededed;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .icon {
    margin: 16px 0;
  }

  .icons.active {
    left: 0;
  }
}

@media (max-width: 768px) {
  .nav2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .asaxiy {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .icons {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #ededed;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .icon {
    margin: 16px 0;
  }

  .icons.active {
    left: 0;
  }
}

@media (max-width: 480px) {
  .box1 {
    display: none;
  }
  .asaxiy {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .icons {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #ededed;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .icon {
    margin: 16px 0;
  }

  .icons.active {
    left: 0;
  }
}
